<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="nrbtv"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:extractNativeLibs="true">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Meta data for Flutter embedding -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
                
            <!-- Intent filter for launching the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Flutter embedding meta data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
    </application>

    <!-- Queries for handling external URLs -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="http"/>
            <data android:scheme="https"/>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
